@model UrlShortener.Models.Bookmark

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(/img/home-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Create a Bookmark</h1>
                    <hr class="small">
                    <span class="subheading">Reference for Quick Access</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                @using (Html.BeginForm("Create", "Bookmark"))
                {
                    @Html.AntiForgeryToken()

                    <p>
                        @Html.TextBox("Title", null, new { @class = "form-control", placeholder = "Title" })
                    </p>
                    <p>
                        @Html.TextBox("Description", null, new { @class = "form-control", placeholder = "Description" })
                    </p>
                    <p>
                        @Html.TextBox("LongUrl", null, new { @class = "form-control", placeholder = "Original Url Here..." })
                    </p>
                    <p>
                        <input type="submit" class="btn btn-primary" value="Create" />
                    </p>
                }

                <div>
                    @Html.ActionLink("Back to Bookmarks", "Index")
                </div>
            </div>
        </div>
    </div>
</div>