@model UrlShortener.Models.Bookmark


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(/img/home-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Edit @Model.Title</h1>
                    <hr class="small">
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <p>
            @Html.TextBox("Name", Model.Title, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBox("Genre", Model.Description, new { @class = "form-control" })
        </p>
        <p>
            @Html.TextBox("Formed", Model.LongUrl, new { @class = "form-control" })
        </p>
        <p>
            <input type="submit" class="btn btn-primary" value="Save" />
        </p>
    }

    <div>
        @Html.ActionLink("Back to Bookmarks", "Index")
    </div>
</div>